  /* Style the navigation bar */
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #800000 ;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;}
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("img/M.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-image2 {
    /* The image used */
    background-image: url("img/Mikulás3.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(3px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;}

.bemutatkozo{
    float: center;
    margin: 10px;
    padding: 0;
    width: 760px;}
.kozep{
  width: 960px;
  min-height: 500px;
  background-color: white;
  margin: 0 auto;
}
.kozep p {
  padding-left: 70px;
}
.tartalom2 {
    font-size: large;
  }
.kep1 {
  width: 300px;
  height: 200px;
  background-image: url(img/Miki1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: inline-start;
}
.kep2 {
  width: 300px;
  height: 200px;
  background-image: url(img/Mikulás2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: inline-start;
  background-position-y: initial;
}
.kep3 {
  width: 300px;
  height: 200px;
  background-image: url(img/Mikulás4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: inline-start;
}
.kep4 {
  width: 300px;
  height: 200px;
  background-image: url(img/Miki1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  float: inline-start;
}
.tartalom2 h2 {
  background-color:#800000;
  color: white;
}
.rkép {
  background-image: url("img/image0.png");
  height: 100px;
  float: right;
width: 100px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.rkép2 {
  background-image: url("img/Cz.D..jpg");
  height: 100px;
  float: right;
width: 100px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.rkép3 {
  background-image: url("img/Kepernyokep_2021-04-18_180458.png");
  height: 100px;
  float: right;
width: 100px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}